*{
    box-sizing: border-box;
}

    
body{
    background: rgb(129, 129, 129);
    background: url("computer-1209641_1920.jpg");
    background: rgb(26, 26, 26);
    background: black;
    color: rgb(216, 216, 216);
}
.container{
   max-width: 960px;
   margin: 0 auto ;
   background: rgb(26, 26, 26);
   /* box-shadow: 2px 3px 7px black; */
}
.header{
    padding: 20px 40px 20px 20px;
    background: rgb(26, 26, 26);
    background: black;
    /* color: white; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
}
header.header{
    background: rgb(24, 24, 24);
    background: repeating-linear-gradient(-45deg, transparent, transparent 10px, #5d6362 10px, #5f7270 18px);;
    position: relative;
    
    border-bottom: 2px solid black;
    box-shadow: 0px 2px 5px black;
    flex-wrap: wrap;
}
li{
    list-style-type: none;
    width: auto;
    background: rgb(24, 24, 24);
    display: inline-block;
    padding: 5px 5px 5px 5px;
    box-shadow: 1px 1px 7px black;
    flex-basis: auto;

}
nav{
    display: flex;
    border: 2px solid rgb(158, 135, 135);
    justify-content: flex-start;
    align-items: center;
    flex-basis: 300px;
    flex: auto;

}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 300px;
    
    /* flex-wrap: wrap; */

}
/* ==============
links
============== */
a{
    text-decoration: none;
    color: rgb(128, 130, 131);
    display: block;
    /* margin: 20px;
    padding-top: 20px; */
}
header nav ul a::before{
    width: 100%;
    height: 5px;
    background-color: rgba(255, 0, 0, 0.3);
    content: "";
}
header nav ul a{
    display: inline-grid;
}
header nav ul a:hover::before, nav ul a:focus::before{
    opacity: 1;
}
.second{
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
h1{
    flex: 2;
    flex-basis: 200px;
}
section{
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}
.img{
    width: 300px;
    /* border: 2px solid brown; */
    /* flex-grow: 1; */
    /* display: flex; */
    justify-content: center;
    z-index: 1;
}
.img img{
    width: 300px;
    position: relative;
    top: 100px;
    left:200px
    /* left: -40px; */
    /* border: 2px solid red; */
}
section img{
    object-fit: ;
}
.form{
    /* width: 300px; */
    /* display: inline-block; */
    /* border: 2px solid black;s */
    padding: 20px;
    background: rgb(24, 24, 24);
    box-shadow: 1px 1px 7px black;
    flex-basis: 300px;
    position: relative;
    z-index: 2;
    /* flex-grow: 1; */
}
input, label{
    display: block;
    padding: 3px;
    width: 100%;
}
input:focus{
    /* outline: yellow auto 1px;? */
}
input[type ='submit']{
    width: auto;
    margin-top: 20px;
}
/* 
==================
article section
================== */
.article{
    margin-top: 30px;
    display: flex;
    position: relative;
    z-index: 2;
}
.article div{
    background: rgb(24, 24, 24);
    padding-left: 20px;
    flex: 1;
    /* width: 200px; */
    flex-basis: 200px;
    margin-left: 10px;
    box-shadow: 1px 1px 7px black;
    /* animation: rotate 3s linear infinite reverse; */
    
}
.article div:hover{
    transform: scale(1.1);
    /* width: 700px;
    height: 500px; */
    color: rgb(114, 112, 112);
    transition: all 0.7s ease-out;
    /* animation: flex 3s linear infinite; */
    
}
@keyframes flex {
    from {transform: rotate(0)}
    to {transform: rotate(360deg)}
}
/* 
=============
image section
============= */
.image{
    
    margin-left: 10px;
    display: flex;
    justify-content: center;
}
.image div:last-child img, .image div:nth-child(2) img{
    height: 194px;
}
.image div{
    /* flex-basis: 300px; */
}
.first{
    /* background: url("house-1.jpg"); */
    /* background-size: cover; */
    /* background: red; */
    /* height: 200px;
    width: 500px; */
}
/* 
=================
Contact
================= */

.contact{
    border: 2px solid brown;
    position: relative;
    height: 150px;
}
.contact img{
    width: 100px;
    border-radius: 50%;
    border: 2px solid brown;
    background: brown;
    position: absolute;
    bottom: 100px;
    left: 70px;
}
.contact p{
    position: relative;
    top: 50px;
}
/* 
===========
fixed
========== */
#fixed{
    margin: 10px;
    background-color: red;
    position: fixed;
    z-index: 3;

}